<h1>{{titre}}</h1>

This is a barbars sample using partials.

{{!-- if condition for haircuts print--}}
{{#if printHaircuts}}
<h2>List of available hair cuts</h2>
<ul>
  {{#each suggestedHaircuts}}
    <li class={{this.type}}>{{this.name}}</li>
  {{/each}}
</ul>
{{/if}}

 {{!-- partials inclusion --}}
{{> mustaches}}
{{> beards}}

