body {
  font-family: Arial, sans-serif;
}

h1 {
  color: #4caf50;
  text-align: center;
}

ul {
  list-style-type: none;
}

li {
  margin: 8px 0;
}

a {
  text-decoration: none;
  color: #2196f3;
}

span {
  display: block;
  margin-top: 20px;
}

ul li a:hover {
  color: #ff5722;
}
