<h2>List of available beard cuts</h2>
<ul>
  <li class="short">3 day beard</li>
  <li class="long">The Viking</li>
  <li class="trimmed">Le goat</li>
  <li class="stylish">The Van Dyke</li>
  <li class="unique">The Mutton Chops</li>
</ul>