<h2>List of available mustache cuts</h2>
<ul>
  <li class="classic">The Handlebar</li>
  <li class="modern">The Dali</li>
  <li class="vintage">The Fu Manchu</li>
  <li class="sophisticated">The Pencil</li>
  <li class="rugged">The Walrus</li>
</ul>